{% extends "base.html" %}

{% block ind %}
    <div class="home-container">
        <div class="logo-container">
            <div class = "logo-big-container">
                <h1 class="logo-big">DOWN</h1>
            </div>
            <div class = "logo-smol-container">
                <h1 class="logo-smol">REPORTER</h1>
            </div>
        </div>
        <div class="desc-container">
            View reports on outage errors for any website.
            Click "Add new status report" to request a new report to be added to the database.
            Click "Site status report" to view existing records in the database.
        </div>
    </div>
{% endblock %}